@font-face {
    font-family: 'GmarketSansLight';
    font-style: normal;
    src: url('../fonts/GmarketSansWOFFLight.woff') format('woff');
    src: url('../fonts/GmarketSansTTFLight.ttf') format('truetype');
}

@font-face {
    font-family: 'GmarketSansMedium';
    font-style: normal;
    src: url('../fonts/GmarketSansWOFFMedium.woff') format('woff');
    src: url('../fonts/GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'GmarketSansBold';
    font-style: normal;
    src: url('../fonts/GmarketSansWOFFBold.woff') format('woff');
    src: url('../fonts/GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
    font-family: 'BOKEH';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/BOKEH.woff') format('woff');
    src: url('../fonts/BOKEH.ttf') format('truetype');
}