@font-face {
    font-family: 'GmarketSansLight';
    font-style: normal;
    src: local('GmarketSansLight'), url('./GmarketSansWOFFLight.woff') format('woff');
    src: local('GmarketSansLight'), url('./GmarketSansTTFLight.ttf') format('truetype');
}

@font-face {
    font-family: 'GmarketSansMedium';
    font-style: normal;
    src: local('GmarketSansMedium'), url('./GmarketSansWOFFMedium.woff') format('woff');
    src: local('GmarketSansMedium'), url('./GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'GmarketSansBold';
    font-style: normal;
    src: local('GmarketSansBold'), url('./GmarketSansWOFFBold.woff') format('woff');
    src: local('GmarketSansBold'), url('./GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
    font-family: 'BOKEH';
    font-weight: bold;
    font-style: normal;
    src: local('BOKEH'), url('./BOKEH.woff') format('woff'),
    local('BOKEH'), url('./BOKEH.ttf') format('truetype');
}