:root {
    --default-color: #111111;
    --title-color: #f5def5;
    --neon-color: #ff00ff;
    --point-color: #f8df6b;
    --level1-color: #04002b;
    --level2-color: #030022;
    --level3-color: #020016;
    --white-color: #eeeeee;
    --tag-color: #989898;
}